@font-face {
	font-family: 'Whoa';
	src: url('/fonts/whoa/whoa.woff2') format('woff2'),url('/fonts/whoa/whoa.woff') format('woff'),url('/fonts/whoa/whoa.otf') format('opentype');
	font-style: normal;
	font-weight: 400;
}
