@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
	font-family: 'Whoa';
	src: url('/fonts/whoa/whoa.woff2') format('woff2'),url('/fonts/whoa/whoa.woff') format('woff'),url('/fonts/whoa/whoa.otf') format('opentype');
	font-style: normal;
	font-weight: 400;
}
