.text-monospace {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.ff-whoa {
	font-family: 'Whoa';
}

.ff-mulish {
	font-family: 'Mulish', sans-serif;
}
